<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posture Detection</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #000000;
        }
        img {
            width: 80%;  /* Adjust the video stream size as per your needs */
            border: 3px solid #354cbb;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h1>Posture Detection</h1>
    <!-- Video stream from Flask server -->
    <img src="{{ url_for('video') }}" width="640" height="480" />
</body>
</html>
